* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;

}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list {
    font-size: 15px;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background-color: rgb(205, 205, 190);
    
}
.nav-link {
    padding:  0 10px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}