* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background-color: rgb(241, 238, 232);
    color: rgb(36, 36, 36);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-list {
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background-color: rgb(179, 179, 172);

}

.nav-link {
    padding: 0 10px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.nav-link:hover {
    text-decoration: underline;
}

.profile {}